################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/StudioX/v16/Server/sqlite3
/StudioX/bin/Debug
/StudioX/obj/Debug
/.vs/StudioX/v16/.suo
